<div data-spy="scroll" data-target=".mainmenu-area">
    <header class="term-area overlay angle" id="home_page">
        <div class="container">
            	<div class="section-padding terms">
                    <h1 class="title"> Politique de Confidentialité </h1>
                    <div class="tab-content">
						<p>La société Landolsi Telecom Technology - L2T comprenant la société ainsi que l’ensemble de ses filiales existant et à venir (ci- après « Société ») et, est l’éditeur et/ou hébergeur de contenus, produits et services sur différents supports : Site web Info grève.tn ,  (ci- après «Site» ou «SERVICE»).</p><br>
                        <p>La charte de confidentialité (ci-après « Politique de confidentialité ») présente l’engagement de la société pour la protection des données personnelles des clients et abonnés aux services  visitant le site Info grève.tn  et s’abonnant au  service Info grève (ci- après «Site» ou «SERVICE»), et des utilisateurs de Services. </p><br>
                        <p>Landolsi Telecom Technology - L2T vous informe également des procédés de collecte et d’utilisation de vos données personnelles et des options dont vous bénéficiez à cet égard pour protéger vos données. </p><br>
                        <p>Landolsi Telecom Technology - L2T pourra modifier la Politique de confidentialité à tout moment afin notamment de se conformer à toutes évolution réglementaires, éditoriales, et/ou techniques </p><br>
                        <p>Il vous est conseillé avant toute navigation de se référer à la dernière version de la Politique de confidentialité sur nos Services. </p><br>
                        <p>Landolsi Telecom Technology - L2T respecte la loi 2004-63 du 27 juillet 2004 portant sur la protection des données à caractère personnel le code de télécommunication et le droit de protection du consommateur à savoir la loi 92-117 du 7 décembre 1992. </p><br>
                        <p>Ainsi le traitement des données personnelles mis en œuvre par la Société ont fait l’objet d’une déclaration auprès de l’Instance Nationale de Protection des Données  Personnelles « INPDP ». </p><br>
                        <p>La présente Politique de confidentialité s’applique en complément des dispositions des Conditions Générales d’Utilisation. </p>
                        
                       <div class="space-30"></div>
                        <h2 class ="title-color">1. Collecte des Données</h2>
                        <p>La Société est responsable au sens de la loi 2004-63 du 27 juillet 2007, collecte et traite des Données Personnelles. Ces données sont nécessaires notamment pour vous permettre de vous inscrire et de bénéficier des Services disponibles sur le Site selon votre usage. </p>
                        <p>Le formulaire d’inscription précise les données qui doivent impérativement être communiquées pour bénéficier des Services concernés. </p>
                       <div class="space-30"></div>                        
                        <h2 class ="title-color">2. Nature des Données Collectées</h2>
                        <ol type="a"><li><p>Votre Identité et vos données de contact associés à des Données diverses
                                            Ces données sont collectées :
                            - lors de votre inscription
                            - lorsque vous passez une demande quelque soit le média utilisé</p>
                            <p>La Société est susceptible de constituer un et/ou plusieurs fichiers comportant ces informations que vous fournissez volontairement pour bénéficier d’un Service. </p></li>
                            <li><p>Données de suivi de navigation : sont collectées grâce aux outils techniques appropriés de collecte (Cookies, formulaires et les permissions) installés sur les Services. </p>
                            	<p>Ces outils sont conçus pour bénéficier de certaines fonctionnalités. La désactivation peut entrainer une altération. </p>
                                </li></ol>
                                
                       <div class="space-30"></div>                        
							<h2 class ="title-color">3. Utilisations des Données</h2>
                            <ol type="a"><li><p>Données d’Identité sont collectées suite à votre consentement en cochant la case appropriée. Ces données seront utilisées :<br>
                    - Pour bénéficier d’autres offres en vous informant des actualités de ces offres.
                    - Pour recevoir des SMS publicitaires de la part Du Service, la Société et ses partenaires.
                    - Transmises conformément à la loi aux autorités compétentes sur requête.</p></li>
                    <li><p>Données de navigation seront utilisées soit :<br>
                    - pour réaliser une statistique globale de nos Services.
                    - pour vous offrir une expérience de navigation et d’usage de nos Services. </p></li></ol>

                    <div class="space-30"></div>                        
	                    <h2 class ="title-color">4. Sécurité des Données Personnelles</h2>
                        <p>Conformément à la législation en vigueur la société déclare avoir mis en place toutes les mesures et les moyens nécessaires pour assurer la sécurité de vos données personnelles. </p>

                    <div class="space-30"></div>
                    	<h2 class ="title-color">5. Droit de consulter les Données Personnelles</h2>
                        <p>Conformément à la législation en vigueur vous pouvez demander la communication de vos données personnelles et exiger que soient selon les cas rectifiées, complétées ou mises à jour, en adressant un courrier à la société  L2T, 27 rue ibn charaf, 3 eme étage, A10, Tunis  Belvédère, 1002.</p>              

                    <div class="space-30"></div>
						<h2 class ="title-color">6. Droit d’opposition </h2>
                        <p>Si vous vous êtes abonné(e) à l’un de nos services et vous désirez exercer votre droit d’opposition, , vous pouvez à tout moment vous désabonner en envoyant stop au 85351, avec le numéro mobile de l’abonnement.
- Si vous avez accepté de recevoir des offres de nos partenaires : Vous pouvez à tout moment vous désabonner en envoyant un SMS contenant : stop nom de la marque au 85300 (SMS GRATUIT).
</p>
                    </div>
                </div>
        </div>
    </header>
  
    <footer class="footer-area " id="contact_page">
        <div class="footer-bottom footer-terms">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box logo">
                         	<a href="../../index.html"><img src="assets/images/Logo.png"></a>
                            <p> Soyez le 1er à être prèvenu des grèves, avec le service Info grève!<br></p>
                        </div>
                        <div class="footer-box contact">
                            <i class="fa fa-envelope" aria-hidden="true"></i>   
                            <a href="#" style="color:#fff">hello@infogreve.tn</a>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box nav-menu">
                        <h4> Plan </h4>
                            <ul>
                                <li><a routerlink="inscription" ng-reflect-router-link="inscription" href="inscription" target="_blank">Inscription</a></li>
                                <li><a routerlink="termes" ng-reflect-router-link="termes" href="termes" target="_blank">Termes d'utilisation</a></li>
                                <li><a routerlink="confidentialite" ng-reflect-router-link="confidentialite" href="confidentialite" >Politique de confidentialité</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box about">
                            <h4>  A propos </h4>
                            <p> Info Grève est un service informationnel, permettant à ses abonnés de recevoir par SMS l'information sur les grèves prévues et confirmées ainsi que les coupures de routes, sur toute Tunisie.</p>
                        </div>
                        <div class="footer-box scl-md">
                            <ul>                                                                        
                        		<li><a href="https://www.facebook.com/LandolsiTelecom/"><img src="assets/images/Social media/fb.png"></a></li>
                        		<li><a href="https://www.instagram.com/landolsitelecom/"><img src="assets/images/Social media/inst.png"></a></li>
                            </ul>                                                                   
						</div>
                    </div>                                    
                </div>
                <div class="col-xs-12">
                	<p class="text-center">Powered by &nbsp; <a href="https://www.l-2t.com/" target="_blank"><img src="assets/images/L2T.png"></a></p>
                </div>
            </div>
        </div>
    </footer>

 </div>

