<!-- <div class="info-404">
        <div class="container">
            <div class="row">
                <div class="xs-12 md-6 mx-auto">
                    <div id="countUp">
                        <div class="number" data-count="404">404</div>
                        <div class="text">La page que vous chercher n'existe pas</div>
                        <div class="text">Vous pouvez revenir à la page <a   routerlink="inscription" ng-reflect-router-link="inscription" href="inscription" style="text-decoration: underline;cursor:pointer; color: white;" > d'accueil</a>
                            , ou vous inscrire à nos autres  <a routerlink="services" ng-reflect-router-link="services" href="services" target="_blank" style="text-decoration: underline;cursor:pointer; color:white">services.</a></div>
                    </div>
                </div>
            </div>
        </div>  
        </div>       -->




<div data-spy="scroll" data-target=".mainmenu-area">
            <!-- Terms-Area -->
            <header class="term-area overlay angle" id="home_page">
                        <div class="container">
                        <div id="notfound">
                        <div class="notfound">
                        <img src="assets/images/404.png">                
                        <div class="notfound-404">
                        <h1><span>4</span><span>0</span><span>4</span></h1>
                        </div>
                        <h4>La page que vous cherchez n'existe pas !! <br>Vous pouvez revenir à l'
                        <a  routerlink="inscription" ng-reflect-router-link="inscription" href="inscription">Accueil</a>, ou vous inscrire 
                        à nos autres <a  routerlink="services" ng-reflect-router-link="services" href="services">Services</a></h4>
                        </div>
                        </div>
                        </div>
            </header>
</div>