<div data-spy="scroll" data-target=".mainmenu-area">
    <section class="section-padding serv-area">
        <div class="container">
        	<div class="col-xs-12 col-md-10 col-md-offset-1">
            	<div class="term-service">
                    <h1> Nos Services </h1>
                    <!-- <div class="space-70"></div> -->
                    <!-- <div class="col-sm-6"> -->
                    	<div class="team-box wow fadeInUp col-sm-6">
                        	<div class="team-image">
                                <img src="assets/images/Services/Horoscopi.png" alt="horoscopi">
                            </div>
                            <!-- <p> Horoscopi هي خدمة ترفيهية لتلقّي التوقعات اليومية للأبراج بالعربية عبر إرسالية القصيرة<br>سعر الخدمة: 70 مليم</p> -->
                           <p>  باش تعرف حظك، إشترك في Horoscopi يوصلك كل يوم SMS فيه توقعات برجك.</p>
                            <a href="http://horoscopi.tn/" target="_blank">Cliquez ici</a>
                        </div>
                    <!-- </div> -->
                    <!-- <div class="col-sm-6">
                    	<div class="team-box box-2">
                        	<div class="team-image">
                                <img src="assets/images/Services/SMS-JOB.png" alt="smsjob">
                            </div>
                            <p> SMS job est un service d'alertes par SMS, qui permet aux demandeurs d'emplois de recevoir les offres correspendant à leurs domaines d'activité <br>.Prix: 65 millimes / SMS reçu</p>
                            <a href="http://smsjob.net/" target="_blank">Cliquez ici</a>
                        </div>                    
                    </div> -->
                    <!-- <div class="space-70"></div> -->
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-area" id="contact_page">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box logo">
                         	<a href="#"><img src="assets/images/Logo.png"></a>
                            <p> Soyez le 1er à être prévenu des grèves, avec le service Info grève! <br></p>
                        </div>
                        <div class="footer-box contact">
                            <i class="fa fa-envelope" aria-hidden="true"></i>   
                            <a href="#" style="color:#fff">hello@infogreve.tn</a>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box nav-menu">
                        <h4> Plan </h4>
                            <ul>
                                <li><a routerlink="inscription" ng-reflect-router-link="inscription" href="inscription">Inscription</a></li>
                                <li><a routerlink="termes" ng-reflect-router-link="termes" href="termes" target="_blank">Termes d'utilisation</a></li>
                                <li><a routerlink="confidentialite" ng-reflect-router-link="confidentialite" href="confidentialite" target="_blank">Politique de confidentailité</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-4">
                        <div class="footer-box about">
                            <h4>  A propos </h4>
                            <p> Info Grève est un service informationnel, permettant à ses abonnés de recevoir par SMS l'information sur les grèves prévues et confirmées ainsi que les coupures de routes, sur toute Tunisie.</p>
                        </div>
                        <div class="footer-box scl-md">
                            <ul>                                                                        
                        		<li><a href="https://www.facebook.com/InfoGreve.tn/"><img src="assets/images/Social media/fb.png"></a></li>
                        		<li><a href="https://www.instagram.com/infogreve.tn/"><img src="assets/images/Social media/inst.png"></a></li>
                            </ul>                                                                   
						</div>
                    </div>                                    
                </div>
                <div class="col-xs-12">
                	<p class="text-center">Powered by &nbsp; <a href="https://www.l-2t.com/" target="_blank"><img src="assets/images/L2T.png"></a></p>
                </div>
            </div>
        </div>
    </footer>
</div>
